<!-- <!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="user-scalable=no,width=device-width" />
	<meta name="baidu-site-verification" content="W8Wrhmg6wj" />
	<meta content="telephone=no" name="format-detection">
	<meta content="1" name="jfz_login_status">
	<link rel="stylesheet" type="text/css" href="/static/css/user.css?v=1.2" />
	<link rel="stylesheet" type="text/css" href="/static/css/common_user.css?v=1.2">

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<title>{if isset($title)}{$title}{/if}</title>
	<script type="text/javascript">

	</script>
	<style>

	</style>
</head>

<body>

</body>
<div class="top-title">
	<a href="javascript:history.back(-1)" title=""></a>
	<p>我的推广</p>
</div>

<div class="wx_cfb_entry_list" style="margin-bottom: 5.8rem;">

	<div class="space_10"></div>
	<div>
		<div class="inx-text">|&nbsp;&nbsp; 微信推广二维码55</div>
		<div class="space_10"></div>
		<div style="width: 60%;margin: 0 auto;">
			<img src="{$create_qrcode}" />
		</div>
		<div class="inx-text">|&nbsp;&nbsp;微信推广链接 <p>{$url}</p>
		</div>
	</div>

	<div class="inx-text">|&nbsp;&nbsp; 网页推广二维码</div>
	<div class="space_10"></div>
	<div style="width: 60%;margin: 0 auto;">
		<img src="{$create_qrcode2}" />
	</div>
	<div class="inx-text">|&nbsp;&nbsp;网页推广链接 <p>{$url2}</p>
	</div>
	<div class="inx-text">|&nbsp;&nbsp; 说明<p>通过你的二维码或者链接进来的新用户，进行充值
			或者投注的时候，你可以得到佣金。</p>
	</div>

</div>


</div> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="/locales/trans.js"></script>
    <title>成为代理</title>
    <style>
      #wrap {
        background: url(/static/images/daili.jpg) no-repeat;
        height: calc(100vh - 60px);
        background-size: 100% 100%;
      }
    </style>
  </head>
  <body style="background: #151e34">
    <div id="wrap"></div>
	{include file="public/footer" /}
  </body>
</html>
