<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="user-scalable=no,width=device-width"/>
<meta name="baidu-site-verification" content="W8Wrhmg6wj" />
<meta content="telephone=no" name="format-detection">
<meta content="1" name="jfz_login_status">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css?v=1.2" />
    <link rel="stylesheet" type="text/css" href="/static/css/common_user.css?v=1.2">
    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
<title>{if isset($title)}{$title}{/if}</title>
<script type="text/javascript">

</script>
<style>

</style>
</head>
<body>
	
</body>
	<div class="top-title">
		<a href="javascript:history.back(-1)" title="">返回上页</a>
	</div>


{include file="public/footer" /}