<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="user-scalable=no,width=device-width"/>
<meta name="baidu-site-verification" content="W8Wrhmg6wj" />
<meta content="telephone=no" name="format-detection">
<meta content="1" name="jfz_login_status">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css?v=1.2" />
    <link rel="stylesheet" type="text/css" href="/static/css/common_user.css?v=1.2">
    
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
<title>{if isset($title)}{$title}{/if}</title>
<script type="text/javascript">

</script>

</head>
<body>
	
</body>
	<div class="top-title">
		<a href="javascript:history.back(-1)" title="">返回上页</a>
	</div>
	<div class="top-tip">
		|&nbsp;&nbsp;返水金额转入钱包
	</div>
	<ul class="use-list">
		<li>昵称：&nbsp;&nbsp; &nbsp;&nbsp; <em>xx</em>	</li>
		<li>剩余返水金额:&nbsp;&nbsp;  <em>0.00</em>	</li>
	</ul>
	<form action="">
		<ul class="use-list">
			<li>转入金额：&nbsp;&nbsp;<input type="number" placeholder="不可超过剩余返水金额"></li>
		</ul>
		<input type="submit" value="提交" class="sub-btn">
	</form>

{include file="public/footer" /}